*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 
  background: 
    linear-gradient(217deg,rgba(255, 0, 0, 0.8),rgba(255, 0, 0, 0) 70.71%), 
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
*/

body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(
            217deg,
            rgba(255, 0, 0, 0.8),
            rgba(255, 0, 0, 0) 50.71%
        ),
        linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
}

.calculator-grid {
    display: grid;
    margin: 2rem;
    justify-content: center;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid #ffffff;
    outline: none;
    background-color: #ffffffaa;
    transition-duration: 300ms;
}

.calculator-grid > button:hover {
    cursor: pointer;
    font-size: 3rem;
    border: 1px solid #ffffff;
    outline: none;
    background-color: #fcc631aa;
    transition-duration: 300ms;
}

.calculator-grid > button:focus {
    background-color: #fcc631aa;
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1/-1;
    background-color: #000000aa;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 0.75rem;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: #ffffffaa;
    font-size: 1.5;
}

.output .current-operand {
    color: #ffffff;
    font-size: 2.5rem;
}
